<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper" id="app">
        <header :class="{'open' : burgerMenu===true}" class="header">
            <div class="heder-content container">
                <button v-if="!isAuth || user.role==='user'" @click="burgerMenu = !burgerMenu" class="burger__menu-btn">
                    <span></span><span></span><span></span>
                </button>
                <a @click="currentPage='home'" href="#" class="header-content__logo">Baskay <span>Time</span> </a>
                <ul v-if="!isAuth || user.role==='user'" class="header-content__menu">
                    <a class="header-content__menu-tel" href="tel:+79897483227">+7 (989) 748 32-27</a>
                    <a @click="currentPopUp=1" href="#">Перезвоните мне</a>
                    <a href="#menu"><button>Оформить заказ</button></a>
                </ul>
                <span v-if="user">{{user.email}}</span>
                <div>
                    <a v-if="!isAuth" @click="currentPopUp = 3" class="haeder__autorization"
                        href="#">Вход/Регистрация</a>
                    <a v-if="isAdmin" class="haeder__admin-panel" @click="currentPage='admin'" href="#">Панель
                        администратора</a>

                    <a v-if="isAuth" class="haeder__admin-panel" @click="currentPage='home';user= null" href="#">
                        Выход</a>
                    <a @click="currentPage='maraphon'" href="#" class="header-content__link">марафоны</a>
                </div>
            </div>
        </header>
        <main class="main">
            <div v-if="currentPage==='confid'" class="confid container">
                1. Обрабатываемые данные <br>
                1.1. Мы не осуществляем сбор ваших персональных данных с использованием Сайта<br>
                1.2. Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее –
                «Обезличенные данные»).<br>
                1.3. Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать:<br>
                1.3.1. Информацию, которую вы предоставляете о себе самостоятельно с использованием онлайн-форм и
                программных модулей Сайта, включая имя и номер телефона и/или адрес электронной почты.<br>
                1.3.2. Данные, которые передаются в обезличенном виде в автоматическом режиме в зависимости от настроек
                используемого вами программного обеспечения.<br>
                1.4. Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые
                собираются использованием Сайта.<br>
                1.5. Если определенная информация не помечена как обязательная, ее предоставление или раскрытие
                осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на
                доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента
                предоставления и/или раскрытия в иной форме.<br>
                1.6. Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у
                Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что
                Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию
                такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.<br>
                1.7. Вы осознаете и принимаете возможность использования на Сайте программного обеспечения третьих лиц,
                в результате чего такие лица могут получать и передавать указанные в п.1.3 данные в обезличенном виде.
                Пример! К указанному программному обеспечению третьих лиц относятся системы сбора статистики посещений
                Google Analytics и Яндекс.Метрика.<br>
                1.8. Состав и условия сбора обезличенных данных с использованием программного обеспечения третьих
                лицопределяются непосредственно их правообладателями и могут включать
                данные браузера (тип, версия, cookie); данные устройства и место его положения; данные операционной
                системы (тип, версия, разрешение экрана); данные запроса (время, источник перехода, IP-адрес).<br>
                1.9. Администрация не несет ответственность за порядок использования Обезличенных данных Пользователя
                третьими лицами.<br>
                2. Цели обработки данных
                2.1. Администрация использует данные в следующих целях:
                2.1.1. Обработка поступающих запросов и связи с Пользователем;
                3. Требования к защите данных
                2.1.2. Информационное обслуживание, включая рассылку рекламно-информационных материалов;
                2.1.3. Проведение маркетинговых, статистических и иных исследований;
                2.1.4. Таргетирование рекламных материалов на Сайте.
                3.1. Администрация осуществляет хранение данных и обеспечивает их охрану от несанкционированного доступа
                и распространения в соответствии с внутренними правилами и регламентами.
                3.2. В отношении полученных данных сохраняется конфиденциальность, за исключением случаев, когда они
                сделаны Пользователем общедоступными, а также когда используемые на Сайте технологии и программное
                обеспечение третьих лиц либо настройки используемого Пользователем программного обеспечения
                предусматривают открытый обмен с данными лицами и/или иными участниками и пользователями сети
                Интернет.<br>
                3.3. В целях повышения качества работы Администрация вправе хранить лог-файлы о действиях, совершенных
                Пользователем в рамках использования Сайта в течение 1 (Одного) года.<br>
                4. Передача данных<br>
                4.1. Администрация вправе передать данные третьим лицам в следующих случаях:
                Пользователь выразил свое согласие на такие действия, включая случаи применения Пользователем настроек
                используемого программного обеспечения, не ограничивающих предоставление определенной информации;
                Передача необходима в рамках использования Пользователем функциональных возможностей Сайта;
                Передача требуется в соответствии с целями обработки данных;<br>
                В связи с передачей Сайта во владение, пользование или собственность такого третьего лица;
                По запросу суда или иного уполномоченного государственного органа в рамках установленной
                законодательством процедуры;<br>
                Для защиты прав и законных интересов Администрации в связи с допущенными Пользователем нарушениями.
                5. Изменение Политики конфиденциальности<br>
                5.1. Настоящая Политика может быть изменена или прекращена Администрацией в одностороннем порядке без
                предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее
                размещения на Сайте, если иное не предусмотрено новой редакцией Политики.
            </div>
            <div v-if="currentPage==='admin'" class="admin-panel container">
                <div class="admin-navigation">
                    <span :class="{'active': adminPage==='menu'}" @click="adminPage = 'menu'">Рационы</span>
                    <span :class="{'active': adminPage==='orders'}" @click="adminPage = 'orders'">Заказы</span>
                    <span :class="{'active': adminPage==='adminMar'}" @click="adminPage = 'adminMar'">Марафоны</span>
                    <span :class="{'active': adminPage==='perez'}" @click="adminPage = 'perez'">Перезвонить</span>
                </div>
                <div v-if="adminPage ==='orders'" class="admin-orders container">
                    <div v-if="orders.length === 0" class="empty__orders">
                        <span>Здесь пока нет заказов</span>
                    </div>
                    <div v-else class="admin-orders__container">
                        <h2 style="text-align: center; font-weight: normal; margin-top: 30px;">Заказы</h2>
                        <div v-for="order in orders" :key=" order.id" class="admin-menu__product">
                            <span> <b>Имя клиета</b> <br>{{order.client}}</span>
                            <span><b>Номер клиента</b> <br> {{order.phone}}</span>
                            <span><b>Адресс клиента</b> <br> {{order.address}}</span>
                            <div class="admin-product__img2-container">
                                <div v-for="product in order.product" :key=" product.id" class="admin-product__img2">
                                    <img :title="product.name" :src="'./assets/images/'+ product.img " alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="adminPage ==='perez'" class="admin-orders container">
                    <div v-if="adminNumbers.length === 0" class="empty__orders">
                        <span>Здесь пока нет заявок</span>
                    </div>
                    <div v-else class="admin-orders__container">
                        <h2 style="text-align: center; font-weight: normal; margin-top: 30px;">Уведомления с просьбой
                            перезвонить </h2>
                        <div style="justify-content: center;" v-for="num in adminNumbers" :key=" num.id"
                            class="admin-menu__product">
                            <span> <b>Номер телефона</b> <br>{{num.num}}</span>
                        </div>
                    </div>
                </div>
                <div v-if="adminPage ==='adminMar'" class="admin-orders container">
                    <div v-if="adminMaraphons.length === 0" class="empty__orders">
                        <span>Здесь пока нет участиников</span>
                    </div>
                    <div v-else class="admin-orders__container">
                        <h2 style="text-align: center; font-weight: normal; margin-top: 30px;">Заявки на участие в
                            марафоне</h2>
                        <div v-for="marr in adminMaraphons" :key=" marr.id" class="admin-menu__product">
                            <span> <b>Имя клиета</b> <br>{{marr.client}}</span>
                            <span><b>Номер клиента</b> <br> {{marr.phone}}</span>
                            <span><b>Адресс клиента</b> <br> {{marr.address}}</span>
                        </div>
                    </div>
                </div>
                <div v-if="adminPage==='menu'" class=" admin-menu">
                    <div class="admin-menu__categories">
                        <span v-for="category in adminCategories" :key="category.id"
                            :class="{'active': currentAdminCategory === category.name }"
                            @click="currentAdminCategory=category.name"
                            class="admin-menu__category">{{category.name}}</span>
                        <span @click="createProduct" class="admin-menu__category admin-menu__category--add">Добавить
                            продукт</span>
                    </div>
                    <div class="admin-menu__products">
                        <div v-for="product in adminMenu" :key="product.id" class="admin-menu__product">
                            <div class="admin-product__img">
                                <img :src="'./assets/images/'+ product.img " alt="">
                            </div>
                            <span class="admin-product__name">
                                {{product.name}}</span>
                            <span class="admin-product__price"> {{product.price}} р</span>

                            <div title="Редактировать" class="admin-product__update"><img @click="editProduct(product)"
                                    src="./assets/images/edit.png "></div>
                            <div title="Удалить" class="admin-product__delete"><img @click="removeProduct(product)"
                                    src="./assets/images/remove.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if=" currentPage==='maraphon'" class=" maraphons container">
                <div v-if="currentMaraphon" class="current-marphon">
                    <h2>Текущий марафон</h2>
                    <div v-for="mar in maraphons" :key="mar.id" class="maraphon__preview">
                        <img v-if="mar.current===true" :src="'./assets/images/' + mar.vrewiew" alt="">
                    </div>
                    <div class="maraphon__conditions">
                        <div class="maraphon__conditions-video">
                            <video controls :src="'./assets/videos/' + currentMaraphon.video "></video>
                        </div>
                        <div class="maraphon__conditions-rules">
                            <div class="maraphon__conditions-container">
                                <span>Условия Участия</span>
                                <p v-for="el in splitCondition" :key="el">
                                    {{el}}
                                </p>
                            </div>
                            <div class="maraphon__conditions-container">
                                <span>Призы</span>
                                <p v-for="el in splitGift" :key="el">
                                    {{el}}
                                </p>
                            </div>
                            <button @click="currentPopUp=10"
                                class="maraphon__preview-btn maraphon__preview-btn--first ">Принять
                                участие</button>
                        </div>
                        <button @click="currentPopUp=2"
                            class="maraphon__preview-btn maraphon__preview-btn--second">Принять
                            участие</button>
                    </div>
                </div>
                <div class="other__maraphons">
                    <h2>Предидущие марафоны</h2>
                    <div v-for="el in otherMaraphons" class="maraphon__preview">
                        <img :src="'./assets/images/' + el.vrewiew" alt="">
                        <button @click="goDetail(el)" class=" maraphon__preview--orange">Подробнее</button>
                    </div>
                </div>
            </div>
            <div v-if="currentPage==='home'" class="home">
                <section class="intro container">
                    <img class="intro-img" src="./assets/images/Intro.jpg" alt="">
                    <a href="#menu"><button class="intro-btn"> ВЫБРАТЬ</button></a>
                </section>
                <section id="menu" class=" profits container">
                    <h2 class="section-caption">Как работает BaskayTime</h2>
                    <div class="profits-line">
                        <div class="profits-line__item">
                            <div class="profits-line__item-img">
                                <img src="./assets/images/profit-calc.svg" alt="">
                            </div>
                            <span>Расчитаем <br>
                                Кбжу</span>
                        </div>
                        <div class="profits-line__item">
                            <div class="profits-line__item-img">
                                <img src="./assets/images/profit-vegetabble.svg" alt="">
                            </div>
                            <span>Приготовим вкусыне <br>
                                и <br>
                                полезные блюда</span>
                        </div>
                        <div class="profits-line__item">
                            <div class="profits-line__item-img">
                                <img src="./assets/images/profit-heart.svg" alt="">
                            </div>
                            <span>Немного любви </span>
                        </div>
                        <div class="profits-line__item">
                            <div class="profits-line__item-img">
                                <img src="./assets/images/profit-track.svg" alt="">
                            </div>
                            <span>Доставим прямо к <br>
                                дому
                            </span>
                        </div>
                    </div>
                </section>
                <section class="programs container">
                    <h2 class=" section-caption">Выберите программу</h2>
                    <div class="categories__line">
                        <div :class="{active :currentCategory == category.name }"
                            @click="currentCategory = category.name, menu" v-for="category in categories"
                            :key="category.id" class="category">
                            <span class="category-name">{{category.name}}</span> <br>
                            <span class="category-dishes">{{category.dishes}} блюд(а)</span>
                        </div>
                    </div>
                    <div class="current-program">
                        <div class="product-line">
                            <product v-for="product in currentArr" :key="product" :product="product"
                                :array="categoriesProducts" @editprod="changeProduct" v-if="currentArr.length">
                            </product>
                            <div v-if="currentArr.length" v-for="element in totalCalories" :key="element.id"
                                class="total-calories">
                                <h2>В рационе: </h2>
                                <span> <b>{{element.calories}}</b> (Ккал)</span>
                                <p>Цена рациона: <b>{{totalSum}} р!</b> </p>
                                <div class="total-elements">
                                    <span> <b>{{element.proteins}}</b> <br> Белки</span>
                                    <span> <b>{{element.fats}}</b> <br> Жиры</span>
                                    <span> <b>{{element.carbohdrate}}</b> <br> Углеводы</span>
                                </div>
                            </div>
                        </div>

                        <button v-if="currentArr.length" @click="currentPopUp = 2" class="current-program__button">
                            Беру</button>
                        <div v-if="updateArr!=0" class="update-product__line-container">
                            <div class="update-product__line">
                                <img @click="updateArr=0;currentUpdateProduct=0" src="./assets/images/krest.png" alt=""
                                    class="update-product__krestik">
                                <img @click="prevProduct" src="./assets/images/left_arr.png" alt=""
                                    class="update-product__arrow update-product__arrow--left">
                                <img @click="nextProduct" src="./assets/images/left_arr.png" alt=""
                                    class="update-product__arrow update-product__arrow--right">
                                <div :style="{'margin-left': '-' + (currentUpdateProduct * 106.5 + '%') }"
                                    class="update-product__line-slider">
                                    <div v-for="product in updateArr" :key="product.id" class="update-product">
                                        <div class="product-elements">
                                            <span>Б <br>
                                                {{product.proteins}}
                                            </span>
                                            <span>Ж <br>
                                                {{product.fats}}
                                            </span>
                                            <span>У <br>
                                                {{product.carbohdrate}}
                                            </span>
                                            <span class="update-product-calories">{{product.calories}}
                                                калорий</span>
                                        </div>
                                        <img class="update-product-img" :src="'./assets/images/' + product.img" alt="">
                                        <span class="update-product-name">{{product.name}}</span>
                                        <button @click="updateProduct(product)"
                                            class="update-product-btn">Выбрать</button> <span
                                            style="font-weight: bold;">{{product. price}}
                                            Р</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="result container">
                    <h2 class="section-caption">C нами худеют!</h2>
                    <div class="slider-wrapper">
                        <div :style="{'margin-left': '-' + (currentSlide * 110 + '%') }" class="slider">
                            <div :class="{active : currentSlide == client.id }" v-for="client in clients"
                                :key="client.id" class="slide">
                                <div class="slide-img__contaienr">
                                    <img :src="'./assets/images/' + client.img" alt="" class="slide-img">
                                </div>
                                <div class="slide-content">
                                    <span class="slide-content__name">{{client.name}},{{client.howOld}} лет</span>
                                    <ul class="slide-content__menu">
                                        <li class="slide-content__list">{{client.programmCount}} дней</li>
                                        <li class="slide-content__list"> по программе: {{client.programmName}}</li>
                                    </ul>
                                    <span class="slide-content__comment">
                                        {{client.comment}}
                                    </span>
                                    <a href="#menu"><button class="slide-content__button"> Хочу так же</button></a>
                                    <div class="slide-content__result">
                                        -{{client.result}} кг
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img :class="{disable : currentSlide == 0}" @click="prevSlide()" src="./assets/images/Arrow.png"
                            alt="" class="slider-btn prev-btn">
                        <img :class="{disable : clients.length - 1 == currentSlide }" @click="nextSlide()"
                            src="./assets/images/Arrow1.png" alt="" class="slider-btn next-btn">
                        <div class="pagination-line">
                            <span v-for="pag in clients" :key="pag.id" @click="currentSlide = pag.id"
                                :class="{active : pag.id == currentSlide}" class="pagination"></span>
                        </div>
                    </div>
                </section>
                <section class="advice">
                    <h2 class="section-caption">Для чего это нужно?</h2>
                    <div class="advice-items">
                        <div class="advice-item">
                            <div class="advice-item__content">
                                <h3 class="advice-item__caption">Здоровье</h3>
                                <span>Вы приведёте в норму сердечно-сосудистую систему,
                                    похудение значительно облегчает работу сердца.</span>
                                <span>Вы сможете подниматься по лестнице без одышки: она уходит вместе с лишними
                                    килограммами,
                                    как и пришла.</span>
                                <span>Нормализация веса позволяет избавиться от депрессии, улучшает психологическое
                                    состояние
                                    человека.</span>
                                <span>Вы помолодеете: похудение даёт такой эффект, если худеть правильно и принимать
                                    витамины.</span>
                            </div>
                            <div class="advice-item__img-container ">
                                <img src="./assets/images/bigheart.jpg" alt="" class="advice-item__img">
                            </div>
                        </div>
                        <div class="advice-item">
                            <div class="advice-item__img-container advice-item__img-container--order">
                                <img src="./assets/images/girl.jpg" alt="" class="advice-item__img">
                            </div>
                            <div class="advice-item__content">
                                <h3 class="advice-item__caption">Уверенность в себе</h3>
                                <span>Похудев, вы наверняка будете вызывать зависть и восхищение, отвечать на
                                    расспросы
                                    изумлённых коллег, друзей и родных.</span>
                                <span>Вы покажете пример другим, и, возможно, этим измените чью-то жизнь к
                                    лучшему.</span>
                                <span>Похудение облегчит процесс ходьбы: вы станете легче, без усилий будете
                                    проходить
                                    дальние дистанции.</span>
                                <span>Похудение позволяет поднять самооценку, вы станете больше себя ценить, что
                                    повлияет на
                                    всю вашу жизнь. Для многих похудение — это начало перемен в карьере, в личной
                                    жизни.</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="faq container">
                    <h2 class="section-caption">Часто задаваемые вопросы</h2>
                    <div class="faq-button-line">
                        <div :class="{'active': currentFaq == tem.id}" v-for="tem in tems" :key="tem.id"
                            @click="currentFaq = tem.id" class="faq-button__section">
                            <img v-if="currentFaq !== tem.id" :src="'./assets/images/' + tem.img"
                                class="faq-button__section-img"></img>
                            <img v-else :src="'./assets/images/' + tem.img1" class="faq-button__section-img"></img>
                            <span class="faq-button__section-title">{{tem.title}}</span>
                        </div>
                    </div>
                    <div class="faq-table">
                        <div @click="currentQestion = faq.id" v-for="faq in filtredFaq" :key="faq.id"
                            class="faq-question">
                            <span :class="{'active': currentQestion == faq.id}" class="question">{{faq.question}}</span>
                            <span v-show="currentQestion == faq.id " class="answer">{{faq.answer}}</span>
                        </div>
                    </div>

                </section>
            </div>
            <div v-if="currentPage==='detail'" class="detail-maraphon">
                <div class="detail-maraphon-preview">
                    <img :src="'./assets/images/' + ditailMaraphon.vrewiew" alt="">
                </div>
                <h2 class="maraphon-itog__title">Подвeдение итогов</h2>
                <div class="container">
                    <div class="maraphon-itog ">
                        <div class="maraphon-itog__video">
                            <video controls :src="'./assets/videos/'+ ditailMaraphon.video"></video>
                        </div>
                        <div class="maraphon-itog__winners">
                            <span class="itog__winners-winner"> <span>Победитель</span> {{ditailMaraphon.winner}}</span>
                            <span class="itog__winners-second"> <span>Почти победитель </span>
                                {{ditailMaraphon.secondPlace}}</span>
                            <span class="itog__winners-third"> <span>Почти почти
                                    победитель</span>{{ditailMaraphon.thirdPlace}}</span>
                        </div>
                    </div>
                    <h2 class="maraphon-itog__title">Результаты других участников марафона</h2>
                    <div class="video-slider__wrapper ">
                        <div :style="{'margin-left': '-' + (currentVideo * 113.6 + '%') }" class="video-slider">
                            <div v-for="video in resultVideos" :key="video.id" class="video-slide">
                                <video controls :src="'./assets/videos/' + video.name"></video>
                            </div>
                        </div>
                        <img :class="{disable: currentVideo == 0  }" class="video-slider__btn video-slider__btn--prev"
                            @click="prevVideo" src="/assets/images/left_arr.png" alt="">
                        <img :class="{disable: resultVideos.length - 1 == currentVideo  }"
                            class="video-slider__btn video-slider__btn--next" @click="nextVideo"
                            src="/assets/images/left_arr.png" alt="">
                    </div>
                </div>
            </div>
            <div v-if=" currentPopUp===1" class="pop-up-container">
                <form @submit.prevent="sendNumber" class="pop-up">
                    <h2> Перезвоните мне</h2>
                    <div class="pop-up__input-container">
                        <input placeholder="+7 (989)748-32-27" v-model="number.num" required minlength="11"
                            class="pop-up__input" type="tel">
                    </div>
                    <span class="pop-up__confid">Нажимая на кнопку "Отправить", я
                        соглашаюсь
                        с условиями <a @click="confid" href="#">политики конфиденциальности.</a> </span>
                    <input type="submit" class="pop-up__button" value="Отправить">
                    <img @click="currentPopUp=0;number = '';" src="./assets/images/krest.png" alt=""
                        class="pop-up__close">
                </form>
            </div>
            <div v-if="currentPopUp===2" class="pop-up-container">
                <form @submit.prevent="addToOrders" class="pop-up">
                    <h2>Для уточнения деталей заказа и доставки</h2>
                    <div class="pop-up__input-container">
                        <input required placeholder="Ваш номер телефона ?" v-model="currentOrder.phone"
                            class="pop-up__input" type="text">
                    </div>
                    <div class="pop-up__input-container">
                        <input required placeholder="Как вас зовут ?" v-model="currentOrder.client"
                            class="pop-up__input" type="text">
                    </div>
                    <div class="pop-up__input-container">
                        <input placeholder="Ваш адресс? (Не обязательно)" v-model="currentOrder.address"
                            class="pop-up__input" type="text">
                    </div>
                    <span class="pop-up__confid">Нажимая на кнопку "Отправить", я соглашаюсь
                        с условиями <a @click="confid" href="#">политики конфиденциальности.</a> </span>
                    <input type="submit" value="Отправить" class="pop-up__button">
                    <img @click="currentPopUp=0;currentOrder.phone='';currentOrder.client='';currentOrder.address='';"
                        src="./assets/images/krest.png" alt="" class="pop-up__close">
                </form>
            </div>
            <div v-if="currentPopUp===10" class="pop-up-container">
                <form @submit.prevent="addToAdminMar" class="pop-up">
                    <h2>Регистрация на Марафон </h2>
                    <div class="pop-up__input-container">
                        <input required placeholder="Ваш номер телефона ?" v-model="currentMar.phone"
                            class="pop-up__input" type="text">
                    </div>
                    <div class="pop-up__input-container">
                        <input required placeholder="Как вас зовут ?" v-model="currentMar.client" class="pop-up__input"
                            type="text">
                    </div>
                    <div class="pop-up__input-container">
                        <input placeholder="Ваш адресс? (Не обязательно)" v-model="currentMar.address"
                            class="pop-up__input" type="text">
                    </div>
                    <span class="pop-up__confid">Нажимая на кнопку "Отправить", я соглашаюсь
                        с условиями <a @click="confid" href="#">политики конфиденциальности.</a> </span>
                    <input type="submit" value="Отправить" class="pop-up__button">
                    <img @click="currentPopUp=0;currentMar.phone='';currentMar.client='';currentMar.address='';"
                        src="./assets/images/krest.png" alt="" class="pop-up__close">
                </form>
            </div>
            <div v-if="currentPopUp===3" class="pop-up-container">
                <form @submit.prevent="logIn" class="pop-up">
                    <h2 style="text-align: center;font-size: 22px;">Вход</h2>
                    <div class="pop-up__input-container">
                        <input v-model="formLog.email" style="font-size: 20px" required
                            placeholder="Номер телефона/почта" class="pop-up__input" type="text">
                    </div>
                    <div class="pop-up__input-container">
                        <input v-model="formLog.password" style="font-size: 20px" placeholder="Пароль"
                            required="password" class="pop-up__input" type="password">
                    </div>
                    <span class="error" v-if="errors.length !== 0 ">{{errors}}</span>

                    <span class="pop-up__confid"> Нет аккаунта ? <a href="#"
                            @click="currentPopUp=4">Заргистрируйтесь.</a> </span>
                    <input type="submit" value="Войти" class="pop-up__button">
                    <img @click="currentPopUp=0;formLog.password='';formLog.email='';" src="./assets/images/krest.png"
                        alt="" class="pop-up__close">
                </form>
            </div>
            <div v-if="currentPopUp===4" class="pop-up-container">
                <form @submit.prevent="registration" class="pop-up">
                    <h2 style="text-align: center;font-size: 22px;">Регистрация</h2>
                    <div class="pop-up__input-container">
                        <input required v-model="formReg.email" style="font-size: 20px"
                            placeholder="Номер телефона/почта" class="pop-up__input" type="text">
                    </div>
                    <span class="error" v-if="errors.length !== 0  && errors?.email ">{{errors.email[0]}}</span>

                    <div class="pop-up__input-container">
                        <input required v-model="formReg.login" style="font-size: 20px" placeholder="Логин"
                            class="pop-up__input" type="text">
                    </div>
                    <div class="pop-up__input-container">
                        <input required v-model="formReg.password" style="font-size: 20px" placeholder="Пароль"
                            class="pop-up__input" type="password">
                    </div>
                    <div class="pop-up__input-container">
                        <input required v-model="formReg.dbPassword" style="font-size: 20px"
                            placeholder="Повторите пароль" class="pop-up__input" type="password">
                    </div>
                    <span class="error" v-if="errors?.password ">{{errors.password[0]}}</span>

                    <span class="pop-up__confid">Нажимая на кнопку "Зарегистрироваться", я соглашаюсь
                        с условиями <a @click="confid" href="#">политики конфиденциальности.</a> </span>
                    <input type="submit" value="Зарегистрироваться" class="pop-up__button">
                    <span class="pop-up__confid"> Уже есть аккант ? <a href="#" @click="currentPopUp=3">Войти.</a>
                    </span>
                    <img @click="currentPopUp=0;formReg.email = ''; formReg.password = ''; formReg.login = ''; formReg.dbPassword = '';  "
                        src="./assets/images/krest.png" alt="" class="pop-up__close">
                </form>
            </div>
            <div v-if="currentPopUp===5" class=" pop-up-container">
                <div class="pop-up pop-up-5">
                    <img class="galka" src="./assets/images/galka.png" alt="">
                    <span class="ok-text">Ваша заявка приянта</span>
                    <button @click="currentPopUp=0" type="button" class="pop-up__button"> Ок</button>
                </div>
            </div>
            <div v-if="currentPopUp===6" class=" pop-up-container">
                <div class="pop-up pop-up-5">
                    <img class="galka" src="./assets/images/galka.png" alt="">
                    <span class="ok-text">Ваша заказ добавлен </span>
                    <button @click="currentPopUp=0" type="button" class="pop-up__button"> Ок</button>
                </div>
            </div>
            <div v-if="currentPopUp===7" class=" pop-up-container">
                <div class="pop-up pop-up-5">
                    <img class="galka" src="./assets/images/galka.png" alt="">
                    <span class="ok-text">Продукт успешно добавлен</span>
                    <button @click="currentPopUp=0" type="button" class="pop-up__button"> Ок</button>
                </div>
            </div>
            <div v-if="currentPopUp===8" class=" pop-up-container">
                <div class="pop-up pop-up-5">
                    <img class="galka" src="./assets/images/galka.png" alt="">
                    <span class="ok-text">Продукт успешно изменён </span>
                    <button @click="currentPopUp=0" type="button" class="pop-up__button"> Ок</button>
                </div>
            </div>
            <div v-if="currentPopUp===9" class=" pop-up-container">
                <div class="pop-up pop-up-5">
                    <img class="galka" src="./assets/images/galka.png" alt="">
                    <span class="ok-text">Продукт успешно удалён </span>
                    <button @click="currentPopUp=0" type="button" class="pop-up__button"> Ок</button>
                </div>
            </div>
            <div v-if=" editingProduct" class="pop-up-container">
                <div class="pop-up">
                    <h2 style="text-align: center;font-size: 22px;">Редактирование продукта</h2>
                    <div>
                        <div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Название
                                    продукта:</label>
                                <input v-model="editingProduct.name" style="font-size: 20px" class="pop-up__input"
                                    type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Фото
                                    продукта:</label>
                                <input v-model="editingProduct.img" style="font-size: 20px"
                                    placeholder="Введите название картинки" class="pop-up__input" type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Цена
                                    продукта:</label>
                                <input v-model="editingProduct.price" style="font-size: 20px" class="pop-up__input"
                                    type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Калории
                                    продукта:</label>
                                <input v-model="editingProduct.calories" style="font-size: 20px" class="pop-up__input"
                                    type="text">
                            </div>
                        </div>
                        <div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Белки
                                    продукта:</label>
                                <input v-model="editingProduct.proteins" style="font-size: 20px" class="pop-up__input"
                                    type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Жиры
                                    продукта:</label>
                                <input v-model="editingProduct.fats" style="font-size: 20px" class="pop-up__input"
                                    type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Углеводы
                                    продукта:</label>
                                <input v-model="editingProduct.carbohdrate" style="font-size: 20px"
                                    class="pop-up__input" type="text">
                            </div>
                        </div>
                    </div>
                    <button @click="postChanges" class="pop-up__button">Редактировать</button>
                    <img @click="editingProduct=null" src="./assets/images/krest.png" alt="" class="pop-up__close">
                </div>
            </div>
            <div v-if="creatingProduct" class="pop-up-container">
                <div class="pop-up">
                    <h2 style="text-align: center;font-size: 22px;">Добавление продукта</h2>
                    <div>
                        <div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Название
                                    продукта:</label>
                                <input v-model="creatingProduct.name" style="font-size: 20px" class="pop-up__input"
                                    type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Фото
                                    продукта:</label>
                                <input v-model="creatingProduct.img" style="font-size: 20px"
                                    placeholder="Введите название изображения" class="pop-up__input" type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Категоря
                                    продукта:</label>
                                <input v-model="creatingProduct.category_id" style="font-size: 20px"
                                    class="pop-up__input" type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Цена
                                    продукта:</label>
                                <input v-model="creatingProduct.price" style="font-size: 20px" class="pop-up__input"
                                    type="text">
                            </div>
                        </div>
                        <div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Калории
                                    продукта:</label>
                                <input v-model="creatingProduct.calories" style="font-size: 20px" class="pop-up__input"
                                    type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Белки
                                    продукта:</label>
                                <input v-model="creatingProduct.proteins" style="font-size: 20px" class="pop-up__input"
                                    type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Углеводы
                                    продукта:</label>
                                <input v-model="creatingProduct.carbohdrate" style="font-size: 20px"
                                    class="pop-up__input" type="text">
                            </div>
                            <div class="pop-up__input-container">
                                <label style="font-size: 20px;margin-bottom: 10px;font-weight: bold;" for="">Жиры
                                    продукта:</label>
                                <input v-model="creatingProduct.fats" style="font-size: 20px" class="pop-up__input"
                                    type="text">
                            </div>
                        </div>
                    </div>
                    <button @click="postProduct" class="pop-up__button">Добавить</button>
                    <img @click="creatingProduct=null" src="./assets/images/krest.png" alt="" class="pop-up__close">
                </div>
            </div>
        </main>
        <div class="container">
            <footer class="footer ">
                <span>2023 © Все права защищены</span>
                <div class="footer__icons">
                    <a target="_blank" href="https://web.telegram.org/k/#681550712"> <img
                            src="./assets/images/telegram 1.svg" alt="" class="footer__icon"></a>
                    <a target="_blank" href="https://instagram.com/baskay_time?igshid=MzRlODBiNWFlZA=="><img
                            src="./assets/images/instagram 1.svg" alt="" class="footer__icon"></a>
                </div>
            </footer>
        </div>
    </div>
    <script src="js/vue.global.js"></script>
    <script src="js/helper.js"></script>
    <script type="module" src="js/main.js"></script>
</body>

</html>